#
###### Requirements without Version Specifiers ######
astropy
flask
matplotlib
numpy
psutil
pysynphot
scipy

#
###### Requirements with Version Specifiers ######
#   See https://www.python.org/dev/peps/pep-0440/#version-specifiers
bokeh == 1.0.4
