<!DOCTYPE html>
<html>  
  <head>
  	<!-- print page title -->
    <title>WMKO Exposure Time Calculator</title>
    <!-- reference CSS -->
    <style type='text/css'>{{get_resource_as_string('./static/etc.css')}}</style>

	<script>
    function manage(txt) {
        var bt = document.getElementById('calculate');
        bt.style.display = "none";
    }
    </script>
  </head>
  <body>
        <!-- print webpage header -->
  	<h1>WMKO Exposure Time Calculator</h1>
  	<!-- initialize drop-down menu form -->
	<form action="." method="post">
		<!-- select instrument for database query -->
		<select name="instrument">
		{% for instr in allowed %}
			<option value="{{instr}}" {% if instr == instrument %} selected {% endif %}>{{instr}}</option>
		{% endfor %}
		</select>
		<!-- initialize submit button to reload page -->
		<input type="submit" value="Submit">
	</form>
	
	<h3>NIRES Selected</h3>
	<form action="." method="post">
	<table align="center"><tr><td>
	<table align="top left" style='margin:15px;'>
		<tr>
			<th> Exposure </th>
			<th> Object </th>
		</tr>
		<tr>
			<td>Exposure Time (sec)<br><input name='exptime' id='exptime' value="{{exptime}}"></td>
			<td>Magnitude<br><input name='magnitude' id='magnitude' value="{{magnitude}}"></td>
			</td>
		</tr>
		<tr>
			<td>Coadds<br><input name='coadds' id='coadds' value="{{coadds}}"></td>
			<td>Source<br><select name="src_type">
			{% for srcparam in ["Point Source", 'QSO', 'Seyfert1', 'Seyfert2', 'BlackBody'] %}
			<option value="{{srcparam}}" {% if srcparam == src_type %} selected {% endif %}>{{srcparam}}</option>
			{% endfor %}
			</select></td>
		</tr>
		<tr><td>Dither Pattern<br>
			<select name="dither">
			{% for dparam in ['AB','ABBA'] %}
			<option value="{{dparam}}" {% if dparam == dither %} selected {% endif %}>{{dparam}}</option>
			{% endfor %}
			</select>
			<td>Redshift<br><input name='redshift' id='redshift' value="{{redshift}}"></td>
		</tr>
		<tr>
			<td>Repeats per Dither<br><input name='rpd' id='rpd' value="{{rpd}}"></td>
			<td>Effective Temperature (K)<br><input name='teff' id='teff' value="{{teff}}"></td>
		</tr>
		<tr>
			<td># Reads<br><input name='nreads' id='nreads' value="{{nreads}}"></td>
			<td>Obs Wave (&#956;m)<br><input name='obswave' id='obswave' value="{{obswave}}"></td>
		</tr>
		<tr>
			<td>Seeing (arcsec)<br><input name='seeing' id='seeing' value="{{seeing}}"></td>
			<td></td>
	</table>

	<input type="submit" name="calculate" id="calculate" value="Calculate" onclick="manage(this)">
	<input type="hidden" name="instrument" id="instrument" value="{{instrument}}">
	<input type="hidden" name="action" id="action" value="Calculate">

	</td>
	{% if calculate %}
		<td style='background:rgba(255,255,255,0.3)'>
		<table align="top right" style='margin:15px;float:center'>
		<tr>
			<th style='font-weight:bold'> Signal to Noise Ratio </th>
		</tr>
		<tr>
			<td>{{s2n}}</td>
		</tr>
		</table>
	{% endif %}
	</tr></table>
	</form>
	<!-- reference CSS -->
    <link rel="stylesheet" href="../static/etc.css">
	
  </body>
</html>
