<!DOCTYPE html>
<html>  
  <head>
    <!-- print page title -->
    <title>WMKO Exposure Time Calculator</title>
    <!-- reference CSS -->
    <style type='text/css'>{{get_resource_as_string('./static/etc.css')}}</style>
  </head>
  <body>
    <!-- print webpage header -->
    <h1>WMKO Exposure Time Calculator</h1>
    <!-- initialize drop-down menu form -->
    <form action="." method="post">
        <!-- select instrument for database query -->
        <select name="instrument">
        {% for instr in allowed %}
        <option value={{instr}} {% if instr == instrument %} selected {% endif %}>{{instr}}</option>
        {% endfor %}
        </select>
        <!-- initialize submit button to reload page -->
        <input type="submit" value="Submit">
    </form>

    <h3>HIRES Selected</h3>
    <form action="." method="post">
    <table align="center"><tr><td>
    <table align="top left" style='margin:15px;'>
        <tr>
            <td style='font-weight:bold'> Slit </td>
            <td style='font-weight:bold'> CCD </td>
            <td style='font-weight:bold'> Exposure </td>
            <td style='font-weight:bold'> Object </td>
        </tr>
        <tr valign='top'>
            <td>
                Slitwidth:
                <select name='slitwidth' id='slitwidth'>
                {% for slit in ['B2','B5','C5','D3','E4','E5'] %}
                <option value='{{slit}}'
                {% if slit == slitwidth %} selected {% endif %}
                >{{slit}}</option>
                {% endfor %}
                </select>
            </td>
            <td>
                Binning (spatial x spectral):
                <select name='binning' id='binning'>
                {% for bin in ['2x1','1x1','2x2','3x1'] %}
                <option value='{{bin}}'
                {% if bin == binning %} selected {% endif %}
                >{{bin}}</option>
                {% endfor %}
                </select>
            </td>
            <td>
                <table>
                    <tr>
                        <td>Exposure Time (seconds):</td>
                        <td>
                        <input type='text' name='ttime' id='ttime' value=
                        '{% if ttime %}{{ttime}}{% else %}3600.0{% endif %}'
                        size='6' maxlength='6'>
                        </td>
                    </tr>
                    <tr>
                        <td>Seeing (arcsec):</td>
                        <td>
                        <input type='text' name='seeing' id='seeing' value=
                        '{% if seeing %}{{seeing}}{% else %}0.75{% endif %}'
                        size='6' maxlength='6'>
                        </td>
                    </tr>
                    <tr>
                        <td>Airmass:</td>
                        <td>
                        <input type='text' name='airmass' id='airmass' value=
                        '{% if airmass %}{{airmass}}{% else %}1.1{% endif %}'
                        size='6' maxlength='6'>
                        </td>
                    </tr>
                </table>
            </td>
            <td>
                <table>
                    <tr>
                        <td>Magnitude:</td>
                        <td>
                        <input type='text' name='mag' id='mag' value=
                        '{% if mag %}{{mag}}{% else %}17.0{% endif %}'
                        size='6' maxlength='6'><br>
                        </td>
                    </tr>
                    <tr>
                        <td>Filter:</td>
                        <td>
                        <select name='filter' id='filter'>
                        {% for f in ['r','g','i','u','z','B','V','R','I'] %}
                        <option value='{{f}}'
                        {% if f == filter %} selected {% endif %}
                        >{{f}}</option>
                        {% endfor %}
                        </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Type:</td>
                        <td>
                        <select name='magtype' id='magtype'>
                        {% for m in ['AB','Vega'] %}
                        <option value='{{m}}'
                        {% if m == magtype %} selected {% endif %}
                        >{{m}}</option>
                        {% endfor %}
                        </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Template:</td>
                        <td>
                        <select name='template' id='template'>
                        {% for t in ['flat','S0','E','Orion','PNe','Sa','Sb','Sc','starburst1','QSO','SNe','O5V','B5V','A0V','A5V','F5V','G5V','K0V','K5V','M5V'] %}
                        <option value='{{t}}'
                        {% if t == template %} selected {% endif %}
                        >{{t}}</option>
                        {% endfor %}
                        </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Redshift:</td>
                        <td>
                        <input type='text' name='redshift' id='redshift' value=
                        '{% if redshift %}{{redshift}}{% else %}0.0{% endif %}'
                        size='6' maxlength='6'>
                        </td>
                    </tr>
                </table>
            </td>
	</tr>
        <tr>
            <td colspan='4'>
            <input type="submit" name="calculate" id="calculate" value="Calculate">
            <input type="hidden" name="instrument" id="instrument" value={{instrument}}>
            <input type="hidden" name="action" id="action" value="Calculate">
            </td>
        </tr>
    </table>
  </body>
</html>
